@font-face {
  font-family: "iconfont"; /* Project id 1982374 */
  src: url('iconfont.woff2?t=1637416237258') format('woff2'),
       url('iconfont.woff?t=1637416237258') format('woff'),
       url('iconfont.ttf?t=1637416237258') format('truetype'),
       url('iconfont.svg?t=1637416237258#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconjifenmingxi:before {
  content: "\e6cf";
}

.icontuichudenglu:before {
  content: "\e6d4";
}

.iconyonghuguanliquanxian:before {
  content: "\e6d5";
}

.iconjinggao1:before {
  content: "\e6d3";
}

.iconcaiwuqingkuang:before {
  content: "\e6d0";
}

.iconCAMS1:before {
  content: "\e6d9";
}

.iconjibenqingkuang1:before {
  content: "\e6d8";
}

.iconyujichuzichanxiangguan2:before {
  content: "\e6da";
}

.iconsuozaihangyejiyewufenxi1:before {
  content: "\e6d7";
}

.iconzichandiya1:before {
  content: "\e6d1";
}

.iconlishixinyongbiaoxian1:before {
  content: "\e6d2";
}

.icontianjia:before {
  content: "\e6c2";
}

.iconzhongxinfenxi:before {
  content: "\e6c3";
}

.icontubiaoku:before {
  content: "\e6c8";
}

.iconjianqu:before {
  content: "\e6ce";
}

.iconxiangshang:before {
  content: "\e6c0";
}

.icondiyu:before {
  content: "\e6c4";
}

.iconweiyuebodongshuai1:before {
  content: "\e6c5";
}

.iconyuqileijiweiyueshuai1:before {
  content: "\e6c6";
}

.iconweiyuesunshishuai1:before {
  content: "\e6c7";
}

.iconzengxinfalvtiaokuanyouxiaoxing:before {
  content: "\e6c9";
}

.iconyuanshiquanyiren:before {
  content: "\e6ca";
}

.iconzengxinfang:before {
  content: "\e6cb";
}

.icona-nianhuazaochangshuaiCPR:before {
  content: "\e6c1";
}

.iconqiyeleixing:before {
  content: "\e6be";
}

.iconABSfahangjingyan:before {
  content: "\e6bf";
}

.icondicengzichanyewujingyan:before {
  content: "\e6bc";
}

.iconxiaofeidaiyuenianzengchangshuai:before {
  content: "\e6bd";
}

.iconjianguanzhibiaoyaoqiu:before {
  content: "\e6b8";
}

.iconyewupingfen:before {
  content: "\e6b9";
}

.iconzhutipingji:before {
  content: "\e6ba";
}

.iconyuanshiquanyirenyalibeishu:before {
  content: "\e6bb";
}

.iconpingjijieguo:before {
  content: "\e6b7";
}

.iconwancheng:before {
  content: "\e6b6";
}

.iconqidian:before {
  content: "\e6b2";
}

.iconzhongdian:before {
  content: "\e6b3";
}

.iconjieguodiwen:before {
  content: "\e6b4";
}

.iconbuzhoutiao:before {
  content: "\e6b5";
}

.iconunfinishbuzhoutiao:before {
  content: "\e6cc";
}

.iconguimo:before {
  content: "\e6ae";
}

.iconjichuzichanleixing:before {
  content: "\e6af";
}

.iconxiangmujindu:before {
  content: "\e6b0";
}

.iconxiangmuzhuangtai:before {
  content: "\e6b1";
}

.icontiaozhuan2-copy:before {
  content: "\e6cd";
}

.icontiaozhuan:before {
  content: "\e6ad";
}

.iconMC:before {
  content: "\e6ab";
}

.iconDPD:before {
  content: "\e6ac";
}

.iconbaojiguanli:before {
  content: "\e6a7";
}

.iconxiaoshouguanli:before {
  content: "\e6a8";
}

.icontouzifenxi:before {
  content: "\e6a9";
}

.iconrengouqingdan:before {
  content: "\e6aa";
}

.icon-submitter:before {
  content: "\e6a6";
}

.icon-recycle:before {
  content: "\e69f";
}

.icon-CPR:before {
  content: "\e6a0";
}

.icon-simulation:before {
  content: "\e6a1";
}

.icon-default:before {
  content: "\e6a2";
}

.icon-distribution:before {
  content: "\e6a3";
}

.icon-circulating-factors:before {
  content: "\e6a4";
}

.icon-Default-loss-rate:before {
  content: "\e6a5";
}

.icon-warning:before {
  content: "\e69e";
}

.icon-property-compile:before {
  content: "\e69d";
}

.icon-upload-pictures:before {
  content: "\e69c";
}

.iconguanbiyemian:before {
  content: "\e69b";
}

.icon-previous-page:before {
  content: "\e699";
}

.icon-next-page:before {
  content: "\e69a";
}

.icon-amplification-2:before {
  content: "\e694";
}

.icon-against-rotate:before {
  content: "\e695";
}

.icon-reduce-2:before {
  content: "\e696";
}

.icon-just-rotate:before {
  content: "\e697";
}

.icon-recover-size:before {
  content: "\e698";
}

.icon-sort:before {
  content: "\e693";
}

.icon-copy-peer:before {
  content: "\e692";
}

.icon-Import-data:before {
  content: "\e68f";
}

.icon-parameter-empty:before {
  content: "\e690";
}

.icon-parameter-copy:before {
  content: "\e691";
}

.icon-delete-model:before {
  content: "\e68d";
}

.icon-model:before {
  content: "\e68e";
}

.icon-rz-indirect-financing:before {
  content: "\e689";
}

.icon-rz-guarantee-amount:before {
  content: "\e68a";
}

.icon-rz-market-financing:before {
  content: "\e68b";
}

.icon-rz-bond-market-inancing:before {
  content: "\e68c";
}

.icon-Calculate-cas-flow:before {
  content: "\e688";
}

.icon-password:before {
  content: "\e686";
}

.icon-job-number:before {
  content: "\e687";
}

.icon-asset-pool-number:before {
  content: "\e682";
}

.icon-debtor-number:before {
  content: "\e683";
}

.icon-Frequency-assets:before {
  content: "\e684";
}

.icon-asset-pool-size:before {
  content: "\e685";
}

.icon-shareholder:before {
  content: "\e681";
}

.icon-examine:before {
  content: "\e680";
}

.icon-asset-pool:before {
  content: "\e677";
}

.icon-edit-multiple:before {
  content: "\e676";
}

.icon-account:before {
  content: "\e67f";
}

.icon-dongjingtaichi-delete:before {
  content: "\e67e";
}

.icon-dongjingtaichi-download:before {
  content: "\e67d";
}

.icon-rate-of-stock-turnover:before {
  content: "\e67c";
}

.icon-credit-investigation:before {
  content: "\e678";
}

.icon-pneumatic-control:before {
  content: "\e673";
}

.icon-business:before {
  content: "\e67b";
}

.icon-subheading:before {
  content: "\e679";
}

.icon-corporate-governance:before {
  content: "\e67a";
}

.icon-dummy-status:before {
  content: "\e654";
}

.icon-current-admin:before {
  content: "\e675";
}

.icon-unfinished:before {
  content: "\e674";
}

.icon-excess:before {
  content: "\e66e";
}

.icon-headline:before {
  content: "\e66f";
}

.icon-over-collateralized:before {
  content: "\e670";
}

.icon-interior:before {
  content: "\e671";
}

.icon-subtitle:before {
  content: "\e672";
}

.icon-concentration-index:before {
  content: "\e66d";
}

.icon-close:before {
  content: "\e667";
}

.icon-confirm:before {
  content: "\e668";
}

.icon-minus:before {
  content: "\e669";
}

.icon-negative-dimensions:before {
  content: "\e66a";
}

.icon-hint:before {
  content: "\e66b";
}

.icon-add:before {
  content: "\e66c";
}

.icon-book-keeping:before {
  content: "\e624";
}

.icon-limit:before {
  content: "\e625";
}

.icon-compile:before {
  content: "\e627";
}

.icon-product-documentation:before {
  content: "\e628";
}

.iconchakan:before {
  content: "\e629";
}

.icon-compile-issue-calendar:before {
  content: "\e62a";
}

.icon-product-mix:before {
  content: "\e62b";
}

.icon-financial-analysis:before {
  content: "\e62c";
}

.icon-float-bonds:before {
  content: "\e62d";
}

.icon-liabilities:before {
  content: "\e62e";
}

.icon-more:before {
  content: "\e62f";
}

.icon-amplification:before {
  content: "\e630";
}

.icon-guarantee-institution:before {
  content: "\e631";
}

.icon-executives:before {
  content: "\e632";
}

.icon-accessory:before {
  content: "\e633";
}

.icon-create-project:before {
  content: "\e634";
}

.icon-connected-transaction:before {
  content: "\e635";
}

.icon-trigger-event:before {
  content: "\e636";
}

.icon-the-whole-audience:before {
  content: "\e637";
}

.icon-management:before {
  content: "\e638";
}

.icon-product-elements:before {
  content: "\e639";
}

.icon-Stock-quotes:before {
  content: "\e63a";
}

.icon-risk-management:before {
  content: "\e63b";
}

.icon-transaction-detail:before {
  content: "\e63c";
}

.icon-empty:before {
  content: "\e63d";
}

.icon-Existence:before {
  content: "\e63e";
}

.icon-financing-shareholder:before {
  content: "\e63f";
}

.icon-bankable-asset:before {
  content: "\e640";
}

.icon-screen:before {
  content: "\e641";
}

.icon-indirect-financing:before {
  content: "\e642";
}

.icon-recover:before {
  content: "\e643";
}

.icon-reduce:before {
  content: "\e644";
}

.icon-float-bonds2:before {
  content: "\e645";
}

.icon-business-information:before {
  content: "\e646";
}

.icon-coefficient-of-stabilization:before {
  content: "\e647";
}

.icon-generate-money-flow:before {
  content: "\e648";
}

.icon-search:before {
  content: "\e649";
}

.icon-pay-taxes:before {
  content: "\e64a";
}

.icon-external-support:before {
  content: "\e64b";
}

.icon-delete:before {
  content: "\e64c";
}

.icon-explain:before {
  content: "\e64d";
}

.icon-cost-taking:before {
  content: "\e64e";
}

.icon-statistics:before {
  content: "\e64f";
}

.icon-calendar:before {
  content: "\e650";
}

.icon-external-security:before {
  content: "\e651";
}

.icon-sales-management:before {
  content: "\e652";
}

.icon-subscribe-total-scale:before {
  content: "\e653";
}

.icon-electronic-market:before {
  content: "\e655";
}

.icon-net-profit-rate:before {
  content: "\e656";
}

.icon-property-analyse:before {
  content: "\e657";
}

.icon-termination:before {
  content: "\e658";
}

.icon-proportion:before {
  content: "\e659";
}

.icon-property-download:before {
  content: "\e65a";
}

.icon-government:before {
  content: "\e65b";
}

.icon-receivable-credit:before {
  content: "\e65c";
}

.icon-normal:before {
  content: "\e65d";
}

.icon-top:before {
  content: "\e65e";
}

.icon-generate-money-flow1:before {
  content: "\e65f";
}

.icon-subject:before {
  content: "\e660";
}

.icon-download:before {
  content: "\e661";
}

.icon-credit-enhancement-condition1:before {
  content: "\e662";
}

.icon-total-assets:before {
  content: "\e663";
}

.icon-credit-enhancement:before {
  content: "\e664";
}

.icon-roe:before {
  content: "\e665";
}

.icon-security-scale:before {
  content: "\e666";
}

