body {
  font-size: 50px;
  font-family: 'Times New Roman';
  color: blue;
}
.hello {
  color: blue;
  /* background: url("./icon.png"); */
  font-family: "myFont";
}

@font-face {
  font-family: "myFont";
  src: url("./test/my-font.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}