
@font-face {
  font-family: "myFont1";
  src: url("./test/my-font.eot") format("eot");
  font-weight: 700;
  font-style: italic;
}

body {
  font-size: 50px;
  color: blue;
}
.hello {
  color: orangered;
  font-family: "myFont1";
}

